* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding: unset;
    margin: unset;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: unset;
}
